<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="UserBinding">
          <!--<security mode="Transport"/>-->
        </binding>
        <binding name="ProductBinding">
          <!--<security mode="Transport"/>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="inspectMessageBehavior" 
             type="WcfRestAuthentication.MessageInspector.InspectMessageBehaviorExtension, WcfRestAuthentication"/>
        <add name="productEndpointWebHttpBehavior" type="WcfRestAuthentication.Services.Api.Endpoints.Product.V1.Behaviors.ProductEndpointWebHttpBehaviorExtension, WcfRestAuthentication"/>
        <add name="userEndpointWebHttpBehavior" type="WcfRestAuthentication.Services.Api.Endpoints.User.V1.Behaviors.UserEndpointWebHttpBehaviorExtension, WcfRestAuthentication"/>
        <add name="customWebHttpBehavior" type="WebHttpBehaviorExtensions.TypedUriTemplateBehaviorExtension, WebHttpBehaviorExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=Null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SslServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceCredentials>-->
            <!-- 
                 You'll need to generate a self signed SSL certificate and add it to your certificate store,
                 if you don't do this, IIS will handle authentication
                 A great tutorial to generate your self signed certificates using makecert can be found at
                   http://www.digitallycreated.net/Blog/38/using-makecert-to-create-certificates-for-development 
            -->
            <!--<serviceCertificate findValue="84 77 39 44 f8 5f c2 92 93 78 97 c0 12 1c 1e 38 26 fd 64 fd" x509FindType="FindByThumbprint" storeLocation="LocalMachine"/>
          </serviceCredentials>-->
          <!--<serviceAuthenticationManager authenticationSchemes="Basic" serviceAuthenticationManagerType="WcfRestAuthentication.Services.Api.RestAuthenticationManager, WcfRestAuthentication"/>-->
          <!--<serviceAuthorization serviceAuthorizationManagerType="WcfRestAuthentication.Services.Api.RestAuthorizationManager, WcfRestAuthentication"/>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ProductEndpointWebHttpBehavior">
          <inspectMessageBehavior/>
          <!--<productEndpointWebHttpBehavior/>-->
          <customWebHttpBehavior/>
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
        <behavior name="UserEndpointWebHttpBehavior">
          <inspectMessageBehavior/>
          <!--<userEndpointWebHttpBehavior/>-->
          <customWebHttpBehavior/>
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WcfRestAuthentication.Services.Api.ApiService" behaviorConfiguration="SslServiceBehavior">
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://gc-04-124A.health.dohmh.nycnet/WCFRestAuthentication/"/>-->
            <add baseAddress="http://localhost/WCFRestAuthentication/"/>
          </baseAddresses>
        </host>
        <endpoint address="products/v1" name="ProductService" contract="WcfRestAuthentication.Services.Api.Endpoints.Product.IProductService" binding="webHttpBinding" bindingConfiguration="ProductBinding" behaviorConfiguration="ProductEndpointWebHttpBehavior"/>
        <endpoint address="users/v1" name="UserService" contract="WcfRestAuthentication.Services.Api.Endpoints.User.IUserService" binding="webHttpBinding" bindingConfiguration="UserBinding" behaviorConfiguration="UserEndpointWebHttpBehavior"/>
      </service>
    </services>
    <!--<protocolMapping>
      --><!--<add binding="webHttpBinding" scheme="http"/>
    <add binding="webHttpBinding" scheme="https"/>--><!--
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <!--<diagnostics>
      <messageLogging maxMessagesToLog="25000" logEntireMessage="true" logMessagesAtServiceLevel="false" logMalformedMessages="true" logMessagesAtTransportLevel="true">
        <filters>
          <clear/>
        </filters>
      </messageLogging>
    </diagnostics>-->
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="WcfRestAuthentication" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.Dispatcher.AuthenticationBehavior.Authenticate" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WcfRestAuthentication.svclog"/>
    </sharedListeners>
  </system.diagnostics>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>